<%- include('header') -%>
<%- include('navbar') -%>
 <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>


        <div class="row">
	        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
	        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        </div>
        <br>
        <div class="row">
	    		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google Auth</a>
        </div>

</div>

<%- include('footer') -%>