<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tower"></span>
                HashCode Challange
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/users">users</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>

            <% if (authenticated) { %>
                <%- include('./components/navbar.logout.button.ejs') -%>
            <% } %>
      
    </div>
</nav>