<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tower"></span>
                HashCode Challange
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/signup">signup</a></li>
            <li><a href="/seed">seed</a></li>
        </ul>
      
    </div>
</nav>